.title {
    text-align: center;
}

.title h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
    color: #0066ff;
    animation: scale-down-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

::ng-deep .p-input, .p-inputtext, .p-inputnumber-input, .p-inputtextarea {
    display: flex;
    width: 100%;
}

form .button{
    display: flex;
    width: 70%;
    margin: auto;
    border-radius: 30px;
}

form .button button {
    border-radius: 30px;
    width: 40%;
    margin: 5%;
}