<app-side-bar></app-side-bar>

<div class="d-flex justify-content-center overlay" *ngIf="load">
    <div style="margin: auto;">
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>

<div class="title m-4">
    <h1>CRUD API</h1>
</div>

<p-card>
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="modalEditInfo = true"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="deleteData()" [disabled]="!infoSelected || infoSelected.length == 0"></button>
        </ng-template>

        <!-- <ng-template pTemplate="right">
            <button type="button" pButton pRipple icon="pi pi-file" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-excel" class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-pdf" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
        </ng-template> -->
    </p-toolbar>

    <p-table
        #dt
        [value]="infoTable"
        [paginator]="true"
        [tableStyle]="{ 'min-width': '75rem' }"
        [(selection)]="infoSelected"
        [rowHover]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10,20,30,50,70,100]"
        dataKey="id"
        currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} datos"
        [showCurrentPageReport]="true"
        [scrollable]="true"
        scrollHeight="50rem">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th><input pInputText type="text" style="width: 100%;" (input)="filterData($event, 'id')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="filterData($event, 'userId')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="filterData($event, 'title')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="filterData($event, 'body')"></th>
                <th></th>
            </tr>
            <tr>
                <th>#</th>
                <th>Id</th>
                <th>Id Usuuario</th>
                <th>Titulo</th>
                <th>Cuerpo</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td>
                    <p-tableCheckbox [value]="data"></p-tableCheckbox>
                </td>
                <td>{{data.id}}</td>
                <td>{{data.userId}}</td>
                <td>{{data.title}}</td>
                <td>{{data.body}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="cargeData(data)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="showElection(data, 'delete')"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">En total hay {{ infoTable ? infoTable.length : 0 }} filas.</div>
        </ng-template>
    </p-table>

    <p-dialog [(visible)]="modalEditInfo" [style]="{ width: '90vw' }" header="Detalles" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <form [formGroup]="formData">
                <div class="row g-4 mt-2">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                        <span class="p-float-label">
                            <input pInputText formControlName="Id" id="id" pAutoFocus [autofocus]="true"/>
                            <label id="id">Id</label>
                        </span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                        <span class="p-float-label">
                            <input pInputText formControlName="UserId" id="userId" pAutoFocus [autofocus]="true"/>
                            <label id="userId">Id Usuario</label>
                        </span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                        <span class="p-float-label">
                            <input pInputText formControlName="Title" id="Titulo" pAutoFocus [autofocus]="true"/>
                            <label id="Titulo">Titulo</label>
                        </span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                        <span class="p-float-label">
                            <textarea rows="1" pInputTextarea formControlName="Body" id="body"></textarea>
                            <label for="body">Cuerpo</label>
                        </span>
                    </div>
                </div>

                <div class="row mt-3 button text-center">
                    <button pButton pRipple type="submit" label="Guardar" [disabled]="!formData.valid" (click)="validateForm()"></button>
                    <button pButton pRipple type="button" label="Cancelar" class="p-button-secondary" (click)="onReject()"></button>
                </div>
            </form>
        </ng-template>
    </p-dialog>

    <p-toast position="center" key="{{key}}" (onClose)="onReject()" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message" let-matPrima>
          <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
              <i class="pi pi-exclamation-triangle font-size-48"></i>
              <h4>{{message.summary}}</h4>
              <p>{{message.detail}}</p>
            </div>
            <div class="p-fluid" style="display: flex;">
              <div class="col-6" style="margin-right: 5px;">
                <button *ngIf="key == 'delete'" type="button" pButton icon="pi pi-check" label="Si" (click)="deleteData()" class="p-button-warning"></button>
                <button *ngIf="key == 'update'" type="button" pButton icon="pi pi-check" label="Si" (click)="sendEditData()" class="p-button-success"></button>
              </div>
              <div class="col-6">
                <button type="button" pButton (click)="onReject()" icon="pi pi-times" label="No" class="p-button-secondary"></button>
              </div>
            </div>
          </div>
        </ng-template>
    </p-toast>
</p-card>