<app-side-bar></app-side-bar>

<div class="title m-4">
    <h1>Read File CSV</h1>
</div>

<p-card>
    <div class="container" appDnd (fileDropped)="onFileDropped($event)">
        <input type="file" #fileDropRef id="fileDropRef" accept=".csv" (change)="fileBrowseHandler($event)" />
        <img src="assets/img/dnd/ic-upload-file.svg" alt="">
        <h3>Drag and drop file here</h3>
        <h3>or</h3>
        <label for="fileDropRef">Browse for file</label>
    </div>
    <div class="files-list">
        <div class="single-file" *ngFor="let file of files; let i = index">
          <img src="assets/img/dnd/ic-file.svg" width="45px" alt="file">
          <div class="info">
            <h4 class="name">
              {{ file?.name }}
            </h4>
            <p class="size">
              {{ formatBytes(file?.size) }}
            </p>
            <app-progress [progress]="file?.progress"></app-progress>
          </div>
          <img src="assets/img/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)">
        </div>
    </div>

    <div class="row g-5">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <p-card>
                <p-table
                #dt
                [value]="records"
                [paginator]="true"
                [tableStyle]="{ 'min-width': '75rem' }"
                [rowHover]="true"
                [rows]="10"
                [rowsPerPageOptions]="[10,20,30,50,70,100]"
                dataKey="id"
                currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} datos"
                [showCurrentPageReport]="true"
                [scrollable]="true"
                scrollHeight="40rem">
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>State</th>
                        <th>Population</th>
                        <th>Total Deaths</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowIndex="rowIndex" let-data>
                    <tr>
                        <td>{{rowIndex + 1}}</td>
                        <td>{{data.state}}</td>
                        <td>{{data.population | number : '1.2-2'}}</td>
                        <td>{{data.totalDeaths | number : '1.2-2'}}</td>
                    </tr>
                </ng-template>
                </p-table>
            </p-card>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="row g-5">
                <div class="col-12">
                    <p-card>
                        <div class="title mb-4">
                          <h3> State with the most deaths</h3>
                        </div>
                        <div class="mb-3 text-center" *ngIf="records.length > 0">
                          <h4>State: <b>{{stateMostDeaths().name}}</b></h4>
                          <h4>Deaths: <b>{{stateMostDeaths().total | number : '1.2-2'}}</b></h4>
                        </div>
                    </p-card>
                </div>
                <div class="col-12">
                    <p-card>
                        <div class="title mb-4">
                          <h3> State with fewer deaths</h3>
                        </div>
                        <div class="mb-3 text-center" *ngIf="records.length > 0">
                          <h4>State: <b>{{stateFewerDeaths().name}}</b></h4>
                          <h4>Deaths: <b>{{stateFewerDeaths().total | number : '1.2-2'}}</b></h4>
                        </div>
                    </p-card>
                </div>
                <div class="col-12">
                    <p-card>
                        <div class="title mb-4">
                          <h3> Most affected state</h3>
                        </div>
                        <div class="mb-3 text-center" *ngIf="records.length > 0">
                          <h4>State: <b>{{stateMotsAffected().name}}</b></h4>
                          <h4>Population: <b>{{stateMotsAffected().population | number : '1.2-2'}}</b></h4>
                          <h4>Deaths: <b>{{stateMotsAffected().total | number : '1.2-2'}}</b></h4>
                          <h4>Diff: <b>{{stateMotsAffected().diff | number : '1.2-2'}}</b></h4>
                        </div>
                    </p-card>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <p-card>
                <div class="title mb-4">
                  <h3> Graphical states</h3>
                </div>
                <p-chart type="pie" width="100%" height="400px" [data]="multiAxisData" [options]="multiAxisOptions"></p-chart>
            </p-card>
        </div>
    </div>
</p-card>